.cards1-background{
    background-image: url('./../images/BACKGROUND2.webp') !important;
    background-size: cover !important;
    padding-bottom: 1%;
}


.titulo-cards1{
    color: var(--second-color);
    font-weight: 800;
    font-size: 1.438rem;
    line-height: 1.75rem;
    letter-spacing: -0.063rem;
    font-family: "Montserrat", sans-serif;
}

.subtitulo-cards1{
    color: var(--second-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3752rem;
}

.text-cards1{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    
}

.card-cont{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-width: 1px;
    border-color: var(--second-color);
    border-style: solid;
    padding: 5%;
}

.seta-cards1{
    margin-left: 9%;
}

.img-card-icon{
    width: 18%;
    height: 18%;
    text-align: end;
}

.img-card-icon-praticidade{
    width: 12%;
    height: 12%;
}



@media screen and (max-width: 1024px) {


    /* Cards1 */
    .seta-cards1{
        margin-left:0;
    }


    
}