.cards1-background{
    background-image: url('./../images/BACKGROUND2.webp') !important;
    background-size: cover !important;
    padding-bottom: 1%;
}


.titulo-cards1{
    color: var(--second-color);
    font-weight: 800;
    font-size: 1.438rem;
    line-height: 1.75rem;
    letter-spacing: -0.063rem;
    font-family: "Montserrat", sans-serif;
}

.subtitulo-cards1{
    color: var(--second-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3752rem;
}

.text-cards1{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    
}

.card-cont{
    padding: 20% 5% 15% 5%;
    height: 100% !important;
    width: 100% !important;
}

.seta-cards1{
    margin-left: 9%;
}

.condEspcial{
    background-image: url('./../images/condEspecial.webp');
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
}

.tranquilidade{
    background-image: url('./../images/tranquilidade.webp');
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
}

.simples{
    background-image: url('./../images/simples.webp');
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
}

.praticidade{
    background-image: url('./../images/praticidade.webp');
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;

}
@media screen and (max-width: 1024px) {


    /* Cards1 */
    .seta-cards1{
        margin-left:0;
    }

    .titulo-cards1{
        font-size: 1.375rem;
    }


    
}