.titulo-cards1{
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 2.5rem;
    font-family: "Poppins", sans-serif !important;
    background: #000046;
    background: linear-gradient(100deg, #000046 0%, #1CB5E0 100%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
    margin-top: 2rem !important;
    margin-bottom: 6rem !important;
}



.card-cont{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-image: url('./../images/BACKGROUND2.webp');
    background-size: cover;
    padding: 2% 2%;
    height: 300px !important;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-card1{
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--font-color);
}

.text-card2{
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--font-color);
}

.text-card3{
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: underline;
    color: var(--font-color);
    cursor: pointer; 
}



.iconCard{
    
    height: 70%;
    text-align: end;
}

.setaCard{
    width: 6%;
    height: 6%;
}

@media screen and (max-width: 1200px) {


    /* Cards1 */
    .seta-cards1{
        margin-left:0; 
    }


    
}