.texto-cartao{
    color: #393939 !important;
    font-size: 1.40rem;
    line-height: 1.938rem;
    font-family: "Inter", sans-serif !important;
    text-align: left;
}


.titulo-cartao{
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 4.25rem;
    font-family: "Poppins", sans-serif !important;
    margin-top: 0% !important;
    background: rgb(0,18,27);
    background: linear-gradient(111deg, #000046 0%, #1CB5E0 100%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
}

.cont-img-cartao{
    height: 80vh !important;
    width: 100% !important;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 0rem !important;
}

.img-cartao{
    object-fit: cover;
    height: 100%;
}

.container-cartao{
    --bs-gutter-x: 0 !important;
}

.cont-img-cartao-mobile{
    display: none;
}

.btn-cartao{
    padding: 0.7rem 0;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    background-color: #000046;
    background: linear-gradient(111deg, #000046 0%, #1CB5E0 100%) !important;
    border: #000046 solid 0px;
}

.btn-cartao:hover{
    background-color: #FFF !important;
    background: linear-gradient(111deg, #FFF 0%, #FFF 100%) !important;
    color: #1CB5E0 !important;
}


@media screen and (max-width: 1200px) {
    
    /* Crédito na mão */
    .titulo-cartao{
        text-align: start !important;
    }

    .btn-cartao{
        width: 60%;
    }

    .cont-img-cartao{
        height: 100% !important;
        width: 100% !important;
        padding-right: 0 !important;
        text-align: center !important;
        display: none;
    }

    .img-cartao{
        width: 100%;
        height: 100%;
    }
  
    .cont-texto-cartao{
        padding: 0 5%;
        padding-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-cartao{
        margin-top: 0 !important;
        font-size: 2.813rem;
        
    }

    .container-cartao{
        --bs-gutter-x: 0 !important;
        padding-right: 0;
    }
    
    .cont-img-cartao-mobile{
        display: block;
        overflow: hidden;
        height: 50vh;
        width: 100%;
        margin-top: 5%;
    }

    .img-cartao-mobile{
        object-fit: contain;
        width: 100%;
        height: 80%;
    }

    

}