.titulo-cuidamosGente{
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif !important;
    background: rgb(0,18,27);
    background: linear-gradient(111deg, #000046 0%, #1CB5E0 100%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
}

.subtitulo-cuidamosGente{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    font-family: "Inter", sans-serif !important;
   color: #393939;
}

.backgroud-cuidamosgente{
    background-image: url('./../images/cuidamosGente.webp');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80vh !important;
    width: 60vw !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-cuidamosgente{
    background-image: url('./../images/fundo-card-cuidamos.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 10px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.img-card-cuidamos{
    width: 2.8rem;
}

.text-card-cuidamos{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    
}

.cont-img-cuidamosgente{
    display: none;
}

@media only  screen and (max-width: 1200px) and (min-width: 561px) {
    .titulo-cuidamosGente{
        font-size: 3.0rem;
        margin-top: 5%;
    }

    .subtitulo-cuidamosGente{
        font-size: 1.4rem;
        font-weight: 600; 
        line-height: 2rem;
        font-family: "Inter", sans-serif !important;
        color: #393939;
        margin-top: 5%;
    }

    .backgroud-cuidamosgente{
        justify-content: start;
        background-image: none;
        min-height: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        margin-left: 2%;
    }
    
    .cont-img-cuidamosgente{
        display: block;
        width: 100%;
        height: 100%;
    }

    .img-cuidamosgente{
        object-fit: contain;
        display: block;
        width: 60%;
        height: 50%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .text-card-cuidamos{
        font-size: 1.2rem;
        
    }

    .img-card-cuidamos{
        width: 3rem;
    }
    
    .card-cuidamosgente{
        min-width: 45vw;
    }

    .align-itens-card{
        justify-content: space-between;
    }

}

@media only screen and (max-width: 560px) {
    .titulo-cuidamosGente{
        font-size: 3.0rem;
        margin-top: 5%;
    }

    .subtitulo-cuidamosGente{
        font-size: 1.4rem;
        font-weight: 600; 
        line-height: 2rem;
        font-family: "Inter", sans-serif !important;
        color: #393939;
        margin-top: 5%;
    }

    .backgroud-cuidamosgente{
        justify-content: start;
        background-image: none;
        min-height: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        margin-left: 2%;
    }
    
    .cont-img-cuidamosgente{
        display: block;
        width: 100%;
        height: 100%;
    }

    .img-cuidamosgente{
        object-fit: contain;
        display: block;
        width: 60%;
        height: 50%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .text-card-cuidamos{
        font-size: 0.9rem;
        
    }

    .img-card-cuidamos{
        width: 2.1rem;
    }
    
    .card-cuidamosgente{
        min-width: 45vw;
        height: 10vh;
    }

    .align-itens-card{
        justify-content: space-between;
    }

}