:root {
    --main-color: #006300;
    --second-color: #DFDF00;
}

.bg-formulario{
    background-image: url('./../images/BACKGROUND2.webp') !important;
    background-size: cover !important;
    padding: 5% 5% 0 5%;
}

.bg-formulario2{
    background-image: url('./../images/BACKGROUND.webp') !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.titulo-formulario1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
    font-family: "Poppins", sans-serif;
    background: rgb(0,18,27);
    background: linear-gradient(111deg, rgba(0,18,27,1) 0%, rgba(0,31,33,1) 13%, rgba(0,57,35,1) 31%, rgba(0,69,30,1) 47%, rgba(0,70,39,1) 60%, rgba(0,96,0,1) 74%, rgba(0,136,0,1) 85%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
}

.btn-formulario{
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
    line-height: 1.563rem;
    font-size: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-formulario:hover{
    background-color: #049104;
    color: #fff;

}

.cont-img-formulario{
    height: 50vh !important;
  
    display: flex;
    justify-content: end;
    align-items: end;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.img-formulario{
    object-fit: contain;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
 
}

.container-formulario{
    --bs-gutter-x: 0 !important;
}

.texto-formulario1{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 200;
}

.texto-formulario2{
    color: #fff;
    font-weight: 200;
    font-size: 1.375rem;
    line-height: 1.75rem;
}

.label-form{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 900;
}

.input-form{
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2% 3%;
    color: #fff;
}

.input-form:focus{
    background-color: transparent;
    color: #fff;
}

.input-form::placeholder{
    color: #B9BAC8;
    font-weight: 200;
}

.form-check-label{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.938rem;
    line-height: 1.75rem;
    font-weight: 200;
    cursor: pointer;
}

.form-check-input{
    cursor: pointer;
}

.btn-formulario-envio{
    border-radius: 5px;
    background-color: var(--second-color) !important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    border-width: 2px;
    border-style: solid;
    font-family: "Poppins", sans-serif;
    font-weight: 500 !important;
    line-height: 1.563rem;
    font-size: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-formulario-envio:hover{
    background-color:  #ffff05 !important;
}

.cont-img-formulario-mobile{
    display: none;
}

@media screen and (max-width: 1200px) {
   
    .cont-img-formulario{
        display: none;
    }
    
    .img-formulario{
        display: none;
     
    }

    .titulo-formulario1{
        font-size: 1.875rem;
    }

    .bg-formulario2{
        display: none;
    }

    .texto-formulario1{
        font-size: 2.813rem !important;

    }


    
    
}

