:root {
    --main-color: #006300;
    --font-color: #DCEEE2;
}

.logo{
    width: 224px;
    height: 35px;
}

header{
    background-image: url('./../images/BACKGROUND2.webp');
    background-size: cover;
}

.nav-link{
    font-size: 0.75rem !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-weight: 800 !important;
    line-height: 1.25rem !important;
    letter-spacing: 0.125rem !important;
    color: var(--font-color);
    background-color: #00004665;
    padding: 5px 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1.563rem;
}

.nav-link:hover{
    color: #1CB5E0;
    background-color: #FFFFFF;
    opacity: 100% !important;
   
}


.btn-slide{
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #000046;
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem;
    font-weight: Bold !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 50%;
}

.btn-slide:hover{
    background-color: #1CB5E0;
    color: #FFFFFF;

}

.slide-cont{
    max-width: 100% !important;
    margin-left: 7%;
    margin-right: 7%;
}

.titulo-Slide-cima{
    font-size: 2.300rem;
    font-weight: 800;
    line-height: 4.25rem;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 10% !important;
    color: var(--font-color);
}

.titulo-Slide-baixo{
    font-size: 4.625rem;
    font-weight: 800;
    line-height: 4.25rem;
    font-family: "Montserrat", sans-serif !important;
    color: var(--font-color);
}

.texto-slide-1{
    color: var(--font-color) !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    
}

.rodape-slide{
    color: var(--font-color) !important;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.color-rodape{
    color: #1CB5E0;
}

.rodape-slide2{
    color: #1CB5E0;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 0 !important;
    font-family: "Montserrat", sans-serif;
}

.linha-vertical-rodape{
    height: 20px;/*Altura da linha*/
    border-left: #1CB5E0 1px solid;
    margin: 0 10px;
    padding: 0;
    width: 3px;
}

.img-btn-seta{
    width: 1.375rem;
    height: 1.375rem;
}

.cont-img-slide{
    height: 100% !important;
    width: 50vw !important;
    display: flex;
    justify-content: end;
    align-items: end;
}

.img-slide{
    object-fit: contain;
    height: 87vh;
}


.cont-slide-mobile{
    display: none;
}

.nav-link:hover{
    opacity: 60%;
}

.color-white{
    background-color: #fff !important;
}

@media screen and (max-width: 1200px) {

    .titulo-Slide-cima{
        font-size: 2.8rem;
        margin: auto;
    }
    
    .titulo-Slide-baixo{
        font-size: 3.5rem;
        margin: auto;
    }

    .nav-item{
        margin-left: 0;
        margin-right: 0;
    }

    .slide-cont{
        margin-left: 1%;
        margin-right: 1%;
    }

 
    .img-slide, .img-slide-2, .cont-img-slide{
        display: none;
    }

    .cont-slide-mobile{
        display: block;
        overflow: hidden;
        height: 50vh !important;
        width: 100% !important;
    }

    .img-slide-mobile{
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .cont-logo{
        margin-left: auto !important;
        margin-right: auto !important;
    }


    .nav-link{
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
        margin-top: 1%;
    }

    .btn-slide{
        width: 90%;
        margin-top: 5% !important;
        margin-left: 4% !important;
        margin-right: auto !important;
    }

    .rodape-slide2{
        color: #1CB5E0;
        font-size: 0.7rem;
        font-weight: bold;
        line-height: 0 !important;
        font-family: "Montserrat", sans-serif;
    }

    
}