:root {
    --main-color: #006300;
    --second-color: #DFDF00;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
}

main{
    background-image: url('./../images/BACKGROUND.webp') !important;
    background-size: contain !important; 
    background-position: center;
}

.backgroud1{
    background-image: url('./../images/BACKGROUND.webp') !important;
    background-size: cover !important;
}

.backgroud2{
    background-image: url('./../images/BACKGROUND2.webp') !important;
    background-size: cover !important;
}

.btn-padrao{
    border-radius: 25px;
    background-color: #000046;
    background: linear-gradient(111deg, #000046 0%, #1CB5E0 100%) !important;
    border: #000046 solid 0px;
    color: white;
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem;
    font-weight: 400 !important;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 45%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.btn-padrao:hover{
    background-color: #FFF !important;
    background: linear-gradient(111deg, #FFF 0%, #FFF 100%) !important;
    color: #1CB5E0 !important;

}

.d-flex{
    display: flex;
}



